# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Shadow\Documents\Documents (trier)\Programmation\Avec Git\Extensions Chrome\MBN_chrome_extension\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
